<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block meta %} {% endblock %}
	<meta name="theme-color" value="#00aaaa">
	<meta name="twitter:card" value="summary">
	<meta name="twitter:site" value="@SkeletonsAreBad">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="SkeletonsAreBad">
	<meta property="og:url" content="https://skel.cc/">
	<meta property="og:image" content="https://www.gravatar.com/avatar/b8faa7e90b4ea9874e388c8b6dc8dd67">
	<link rel="stylesheet" href="/style.css">
	<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<body>
	{% block header %} {% endblock %}
	<section class="section">
		<div class="container">
			{% block content %} {% endblock %}
		</div>
	</section>
	{% include "footer.html" %}
</body>

</html>