{% set links = load_data(path="content/links.json") %}

<footer class="footer">
	<div class="content has-text-centered">
		<p class="buttons is-centered">
			{% for link in links.social %}
			<a href="{{ link.url | safe }}" class="button is-rounded">
				<span class="icon">
					<i class="{{ link.icon }}"></i>
				</span>
			</a>
			{% endfor %}
		</p>
		<span class="icon"><i class="fab fa-discord"></i></span>
		<span>SkeletonsAreBad#9999</span>
		<hr class="hr">
		<a href="/"><span class="icon"><i class="fas fa-link"></i></span><span>skel.cc</span></a> MMXX | <a
			href="https://github.com/SkeletonsAreBad/skel-zola"><span class="icon"><i
					class="fab fa-github"></i></span><span>View on GitHub</span></a>
	</div>
</footer>