{% extends "base.html" %}

{% block meta %}
<title>SkeletonsAreBad</title>
<meta name="twitter:title" content="Home">
<meta name="og:title" content="Home">
<meta name="description" content="cool and good">
<meta name="twitter:description" content="cool and good">
<meta property="og:description" content="cool and good">
{% endblock %}

{% block header %}
<section class="hero is-black is-medium"
	style="background-image: url('/img/skeletonsarebad-background.png'); background-size: cover; background-position: center;">
	<div class="hero-head">{% include "navbar.html" %}</div>
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1">Skeletons&shy;AreBad</h1>
			<h2 class="subtitle">cool and good</h2>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
{% set projects = get_section(path="p/_index.md") %}
{% set tools = load_data(path="content/tools.json") %}
<h1 class="title">Projects</h1>
<h2 class="subtitle">Here is what I have been working on.</h2>
<div class="tile is-ancestor" style="flex-wrap: wrap;">
	{% for page in projects.pages %}
	{% include "project-card.html" %}
	{% endfor %}
</div>
<hr class="hr">
<h1 class="title">Tools and languages</h1>
<h2 class="subtitle">Here are some of the things I use.</h2>
<div class="columns">
	<div class="column">
		<h2 class="subtitle">Tools</h2>
		<ul>
			{% for tool in tools.tools %}
			<li><span class="icon"><i class="{{ tool.icon }}"></i></span><span>{{ tool.title }}</span></li>
			{% endfor %}
		</ul>
	</div>
	<div class="column">
		<h2 class="subtitle">Languages</h2>
		<ul>
			{% for language in tools.languages %}
			<li><span class="icon"><i class="{{ language.icon }}"></i></span><span>{{ language.title }}</span></li>
			{% endfor %}
		</ul>
	</div>
	<div class="column">
		<h2 class="subtitle">Software</h2>
		<ul>
			{% for software in tools.software %}
			<li><span class="icon"><i class="{{ software.icon }}"></i></span><span>{{ software.title }}</span></li>
			{% endfor %}
		</ul>
	</div>
</div>
<hr class="hr">
<h1 class="title">Stats for nerds</h1>
<h2 class="subtitle">Here are some of my GitHub statistics.</h2>
<div class="columns">
	<div class="column">
		<center>
			<iframe
				src="https://github-readme-stats.vercel.app/api?username=SkeletonsAreBad&count_private=true&show_icons=true"
				frameborder="0"></iframe>
		</center>
	</div>
	<div class="column">
		<center>
			<iframe src="https://github-readme-stats.vercel.app/api/top-langs/?username=SkeletonsAreBad&layout=compact"
				frameborder="0"></iframe>
		</center>
	</div>
</div>
{% endblock content %}