<div class="field is-grouped is-grouped-multiline">
	<div class="control">
		<div class="tags">
			<span class="tag is-light">Posted on {{ page.day }}/{{ page.month }}/{{ page.year }}</span>
		</div>
	</div>
	<div class="control">
		<div class="tags">
			<span class="tag is-light">{{ page.reading_time }} minute read</span>
		</div>
	</div>

	<div class="control">
		<div class="tags has-addons">
			<span class="tag is-dark"><i class="fab fa-github"></i></span>
			<span class="tag is-light is-link">View on GitHub</span>
		</div>
	</div>
</div>