<div class="field is-grouped is-grouped-multiline">
	<div class="control">
		<div class="tags">
			<span class="tag is-light">Posted on {{ page.day }}/{{ page.month }}/{{ page.year }}</span>
		</div>
	</div>
	<div class="control">
		<div class="tags">
			<span class="tag is-light">{{ page.reading_time }} minute read</span>
		</div>
	</div>
	{% if page.extra.repository %}
	<div class="control">
		<div class="tags has-addons">
			<a class="tag is-dark"
				href="https://github.com/{{ page.extra.repository[0] }}/{{ page.extra.repository[1] }}"><i
					class="fab fa-github"></i></a>
			<a class="tag is-light is-link"
				href="https://github.com/{{ page.extra.repository[0] }}/{{ page.extra.repository[1] }}">{{ page.extra.repository[0] }}/{{ page.extra.repository[1] }}
				on GitHub</a>
		</div>
	</div>
	{% endif %}
</div>