{% extends "base.html" %}

{% block meta %}
<title>{{ page.title }} | SkeletonsAreBad</title>
<meta name="twitter:title" content="{{ page.title }}">
<meta name="og:title" content="{{ page.title }}">
<meta name="description" content="{{ page.description }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta property="og:description" content="{{ page.description }}">
{% endblock %}

{% block header %}
{% include "hero.html" %}
{% endblock %}

{% block content %}
{% include "meta-tags.html" %}
</br>
<div class="content">{{ page.content | safe }}</div>
{% endblock content %}